/*colores layout*/
 $negro-atenuado: #2b2d38;
 $blanco-puro:#FFFFFF;
 $gris-suave:#A6A6A6;


 /*Colores fondo cars*/
$mostaza:#f4b840;
$azuloscuro:#6f1fec;
$verdeosclaro:#61d2d9;
$naranja:#ff7e29;
$rojo:#da2a6a;
