@use '../abstracts/variables.scss';
@use '../abstracts/mixins.scss';

    .navbar{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    ul{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding-right: 70px;
    li{
        position: relative;
    
        a{
            text-decoration: none;
            color: variables.$gris-suave;
            position: relative;
            
        &::after{
            content:'';
            position: absolute;
            opacity: 0;
            background-color: red;
            bottom: 2px;
            left: 0;
            right: 0;
            height: 2px;
            width: 0;
            transition: width 0.8s ease-out;
         }   
        &:hover::after{
            width: 70%;
            opacity: 1;
         }
        }
      }
    }
}